
/* DESKTOP */
@media only screen and (max-width: 1020px) {

	body {
		overflow-x: hidden;
	}

	#menu,
	#slider-imgs div.featured-img-box,
	.wrapper,
	#slider,
	#content {
		width: 100%;
		min-width: 0px;
	}

	#main-box #main {
		width: 70%;
	}

	#main-box #sidebar {
		width: 30%;
	}

	#slider div#slider-info {
		bottom: 35px;
		right: 35px;
	}

	#main-box #main {
		margin-top: 0px;
	}

	.panel-games-lobby ol li .lobby-block {
		width: 100%;
	}

	.main-menu ul li a strong {
		font-size: 10px;
	}

	#header-top ul > li > a {
		font-size: 12px;
	}

	.d-articles .item h4 {
		font-size: 12px;
	}

	.d-articles .item .item-content p {
		font-size: 11px;
	}

	#sidebar .panel > h2 {
		font-size: 15px;
	}

	.panel-games-lobby ol li .lobby-block .caption {
		font-size: 12px;
	}

	.signup-panel > div > h2 span, .user-profile .profile-right-side h2 span, .game-info-right h2 span, .article-footer h2 span, #main > .forum-block h2 span, #main > h2 span {
		font-size: 19px;
		line-height: 30px;
	}

	body {
		font-size: 13px;
	}

	a.button, .button {
		font-size: 12px;
	}

	.article-promo .article-photo {
		width: 46.7%;
	}

	.article-promo .article-content {
		margin-left: 3.7%;
		width: 49.6%;
	}

	.article-promo .article-content h3 {
		margin-top: -13px;
	}

	#main h3 a {
		font-size: 15px;
	}

	#main p {
		font-size: 13px;
	}

	.article-icons a {
		font-size: 12px;
	}

	.article-icons {
		padding: 0px 0px 12px 0px;
		margin-bottom: 11px;
	}

	.defbutton {
		font-size: 11px;
	}

	.footer .footer-content > div > h2 {
		font-size: 16px;
	}

	.panel .tagcloud a {
		font-size: 12px;
	}

	#sidebar .panel > h2 {
		padding: 10px 15px;
	}

	#sidebar .panel .panel-content {
		padding: 14px 15px 20px 15px;
	}

	.new-forum-line strong {
		font-size: 12px;
		width: 64%;
	}

	.new-forum-line span {
		font-size: 11px;
	}

	.socialize a {
		margin-bottom: 5px;
	}

	.home-article.left {
		width: 46.6%;
	}

	.home-article.right {
		width: 51%;
	}

	.home-article.right ul li a img {
		width: 27.47%;
	}

	.home-article.right ul li a span.a-txt,
	.home-article.right ul li a strong {
		width: 72.53%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.home-article.right ul li a strong {
		font-size: 13px;
	}

	.panel-games-lobby.full-page ol li .lobby-block,
	.panel-games-lobby.full-page ol,
	.panel-games-lobby.full-page {
		width: 100%;
	}

	.panel-games-lobby.full-page ol li {
		width: 49%;
		margin-right: 2%;
	}

	.panel-games-lobby.full-page ol li:nth-child(2n) {
		margin-right: 0px;
	}

	.podcast-list .item > span.podcast-li-title {
		font-size: 11px;
	}

	.main-menu ul.sub-menu li a {
		font-size: 12px;
	}

	.main-menu ul.sub-menu {
		width: 200px;
		margin-left: -100px;
	}

	.panel-duel-voting .panel-duel-vote,
	.panel-duel-block {
		width: 50%;
		margin-left: 0px;
	}

	.panel-duel-block .caption {
		font-size: 10px;
		left: 0px;
		bottom: 0px;
		margin-right: 0px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.photo-block {
		width: 100%;
	}

	.article-image-out span.image-comments span,
	.panel-games-lobby ol li .lobby-info b,
	.panel-games-lobby ol li .lobby-info .right {
		font-size: 11px;
	}

	.photo-block .big-block {
		width: 50%;
		height: auto;
		display: block;
	}

	.photo-block .small-block {
		width: 25%;
		height: auto;
		display: block;
	}

	.photo-block .small-block:nth-child(6) {
		clear: both;
	}

	.game-info-left .game-poster {
		max-width: 88%;
		height: auto;
	}

	.game-info-right .game-menu {
		padding-left: 26%;
	}

	.user-profile .profile-shadow,
	.game-info-right:before {
		display: none;
	}

	#main-box.full-width #main {
		width: 100%;
	}

	.user-profile .profile-left-side,
	.game-info-left,
	.game-info-left {
		width: 23%;
		display: block;
	}

	.user-profile .profile-left-side .avatar {
		width: 100%;
		height: auto;
	}

	.user-profile .profile-left-side .avatar img {
		width: 100%;
	}

	.photo-blocks li {
		margin-top: 8px!important;
		margin-right: 8px!important;
	}

	.user-profile .profile-right-side,
	.game-info-right,
	.game-info-right {
		width: 74%;
		display: block;
	}

	.game-info-right .game-menu ul li a {
		padding: 14px 16px;
		font-size: 12px;
	}

	.signup-panel .right {
		width: 55%;
	}

	.signup-panel .left {
		width: 40%;
		padding-right: 2.2%;
		margin-right: 2.2%;
	}

	.the-form {
		width: 100%;
	}

	.the-form form > p > label:not(.iiiii) {
		width: 35%;
		margin-right: 5%;
	}

	.the-form .error-msg {
		margin-left: 40%;
	}

	.the-form .error-msg,
	#main .the-form textarea, #main input[type=text], #main select, #main input[type=password] {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.strike-player #songSlider {
		width: auto;
		right: 80px;
	}

	.photo-galleries > .item .item-header a {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 10px;
		height: auto;
	}

	.photo-galleries > .item .item-header a img {
		width: 100%!important;
		height: auto!important;
	}

	.photo-galleries > .item .item-header .photo-link {
		width: 100%;
	}

	.music-blocks li a {
		width: 100%;
	}

	.music-blocks ul > li {
		width: 48%;
	}

	.profile-left-side .the-profile-navi {
		width: 100%;
		position: static!important;
		top: 0px!important;
	}

	.profile-panel.instagram img {
		width: 26%;
	}

	.profile-right-side > .content-padding > div > div.left {
		width: 100%!important;
		margin-right: 0px;
		float: none;
		margin-bottom: 20px;
	}

	.profile-right-side > .content-padding > div > div.right {
		width: 100%!important;
		margin-right: 0px;
		float: none;
	}

	.friend-single .wrapimg, .friend-single .avatar img {
		width: 100%!important;
		height: auto;
	}

	.friend-single .avatar {
		width: 90%!important;
		height: auto;
	}

}


/* TABLET */
@media only screen and (max-width: 900px) {

	body, div, p, a, table, td {
		-webkit-text-size-adjust: none;
		letter-spacing: .015em;
	}

	.single-view-info > div.view-options,
	.single-view-info > div.view-likes {
		width: 100%;
		float: none;
	}

	.single-view-info > div.view-options {
		margin-top: 10px;
		text-align: center;
	}

	#wp-calendar tbody td {
		padding: 3px;
	}

	.main-menu .datmenu-prompt {
		display: block;
	}

	.load-responsive {
		display: none!important;
	}

	.photo-galleries > .item .item-header .photo-link .photo-link-top i.fa {
		font-size: 21px;
	}

	.photo-galleries > .item .item-header .photo-link .photo-link-top {
		font-size: 13px;
	}

	#header-top {
		text-align: center;
	}

	#header-top ul {
		float: none;
		display: inline-block;
	}

	#menu-bottom.blurred #menu > .blur-before:before {
		display: none;
		-webkit-filter: none;
		-moz-filter: none;
		-o-filter: none;
		-ms-filter: none;
		filter: none;
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
	}

	a.featured-select span {
		display: none!important;
	}

	.photo-gallery-single .photo-single-thumbnails img {
		width: 82px;
		height: auto;
	}

	.conversation-container .conv-submit,
	.conversation-start-new-block {
		padding: 0px 20px;
	}

	.conversation-container .conv-submit {
		padding-bottom: 20px;
	}

	.conversation-container .conv-textarea {
		margin-right: 0px;
		margin-left: 0px;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.article-footer > div {
		display: block;
		float: none;
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 20px;
	}

}


/* PHONE */
@media only screen and (max-width: 750px) {

	#main-box #sidebar, #main-box #main {
		width: 100%!important;
		float: none;
		height: auto!important;
		min-height: 0px!important;
	}

	.panel-games-lobby ol li {
		max-width: 280px;
		display: inline-block;
		margin-right: 12px;
		width: 100%;
	}

	.panel-duel-block {
		background-size: cover!important;
	}

	.footer .footer-content > div {
		width: 100%;
		display: block;
		float: none;
		margin-bottom: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.footer .footer-bottom {
		display: block;
		text-align: center;
	}

	.footer .footer-bottom .left {
		display: block;
		text-align: center;
		float: none;
	}

	.footer .footer-bottom .right {
		display: none;
	}

	.panel-games-lobby.full-page ol li {
		display: inline-block!important;
		float: none;
	}

	.panel-games-lobby.full-page ol,
	.panel-games-lobby ol {
		text-align: center;
	}

	#sidebar .panel .panel-content {
		border-top: 1px solid #ccc;
		background: none;
	}

	#_strike-user {
		display: none!important;
	}

	.big-message h3 {
		font-size: 110px;
	}

	.big-message h4 {
		font-size: 40px;
	}

	.event-calendar table thead {
		display: none!important;
	}

	.event-calendar table td.notthismonth {
		display: none!important;
	}

	.event-calendar table td {
		display: block!important;
		width: 100%;
		border: 0px!important;
		border-bottom: 1px solid #E4E4E4!important;
		padding-bottom: 10px;
		min-height: 110px;
		height: auto;
	}

	.calendar-title a.button, .calendar-title .button {
		font-size: 10px;
	}

	.calendar-title h3 {
		font-size: 12px;
	}

	.game-info-right:before,
	.forum-threads .thread-link .thread-last,
	.forum-threads-head .thread-last,
	.thread-link .thread-author,
	.forum-threads-head .thread-author {
		width: 0px;
		display: none!important;
	}

	.forum-description .pagination,
	.topic-right {
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}

	.forum-description .pagination {
		margin-bottom: 6px;
	}

	body #main .article-full .article-content p, body #main .article-full .article-content {
		font-size: 13px;
	}

	blockquote {
		font-size: 14px;
	}

	.article-content ul li {
		font-size: 13px;
	}

	.user-profile .profile-left-side .profile-user-name .sttaa {
		width: 100%;
		white-space: normal;
	}

	.music-blocks ul > li,
	.user-profile .profile-left-side,
	.user-profile .profile-right-side,
	.photo-galleries > .item,
	.game-info-left,
	.game-info-right {
		display: block;
		width: 100%;
		float: none;
		margin-left: 0px;
	}

	.game-info-left {
		margin-top: 0px;
	}

	.user-profile .profile-left-side .profile-user-name a,
	.user-profile .profile-left-side .profile-user-name .sttaa,
	.user-profile .profile-left-side .profile-user-name {
		color: #232323!important;
		text-shadow: none;
		left: 35%;
		top: 20px;
	}

	.user-profile .profile-left-side .profile-user-name h1 {
		font-size: 24px;
	}

	.user-profile .profile-left-side .avatar {
		width: 30%;
	}

	.user-profile .profile-left-side {
		margin-top: -20px;
	}

	.game-info-right .photo-blocks li {
		margin-bottom: 8px;
	}

	.game-info-right .game-overlay-info {
		display: none;
	}

	.game-info-right .game-menu ul {
		position: absolute;
		bottom: 0px;
		z-index: 10;
		left: 0px;
		width: 100%;
	}

	.game-info-right .game-menu ul li a {
		padding: 14px 16px;
		font-size: 12px;
	}

	.game-info-left {
		text-align: center;
	}

	.game-info-left .game-info-details {
		text-align: left;
	}

	.game-info-left .game-poster {
		display: inline-block;
	}

	.split {
		display: block;
	}

	.staff-block .item,
	.split > div {
		display: block;
		width: 100%!important;
		float: none;
		margin-left: 0px;
	}

	.staff-block .item:nth-child(n+2) {
		border-top: 1px solid #E0E0E0;
		padding-top: 30px;
		margin-top: 30px;
	}

	.the-form .form-footer {
		display: block;
		padding: 10px 0px 0px 40%;
	}

}


/* PHONE SMALL */
@media only screen and (max-width: 600px) {

	.photo-block .big-block,
	.photo-block .small-block,
	.article-promo .article-content,
	.article-promo .article-photo,
	.panel-games-lobby.full-page ol li,
	.grid-articles .item,
	.home-article.right,
	.home-article.left {
		display: block;
		float: none;
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
	}

	.header-breadcrumbs {
		display: none;
	}

	.friends-block .friend-single {
		width: 33%;
	}

	.friends-block .friend-single:nth-child(5n+1) {
		clear: none;
	}

	.friends-block .friend-single:nth-child(3n+1) {
		clear: both;
	}

	.photo-block .small-block {
		margin-top: 15px;
	}

	.signup-panel > div > h2 span, .user-profile .profile-right-side h2 span, .game-info-right h2 span, .article-footer h2 span, #main > .forum-block h2 span, #main > h2 span {
		font-size: 14px;
		line-height: 18px;
	}

	.podcast-list .item > span.podcast-li-title {
		padding: 10px 0;
	}

	.signup-panel > div > h2, .user-profile .profile-right-side h2, .game-info-right h2, .article-footer h2, #main .forum-block > h2, #main > h2 {
		background: none;
		line-height: 20px;
	}

	#slider div#slider-info {
		display: none;
	}

	#header {
		height: 250px;
	}

	.main-menu {
		text-align: center;
	}

	.main-menu a {
		display: block!important;
		float: none!important;
	}

	.main-menu .datmenu-prompt {
		background: rgba(0, 0, 0, 0.4);
		padding: 0px;
		height: auto;
		line-height: 50px;
	}

	.signup-panel > div > h2, .user-profile .profile-right-side h2, .game-info-right h2, .article-footer h2, #main .forum-block > h2, #main > h2,
	div.content-padding {
		padding: 0px 15px;
	}

	.comment-form p label {
		display: none;
	}

	.comment-form p textarea, .comment-form p input[type=text] {
		width: 100%!important;
		display: block!important;
		margin-left: 0px!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.comment-form p input[type=submit] {
		margin-left: 0px!important;
	}

	#comments ul li {
		padding-left: 0px;
	}

	.forum-block .forum-link > .right .forum-recent {
		display: none;
	}

	.forum-block .forum-link > .right {
		width: 1%;
	}

	.forum-threads .thread-link > a .forum-icon,
	.forum-block .forum-link > a .forum-icon {
		display: none;
	}

	.forum-threads .thread-link > a > span,
	.forum-block .forum-link > a > span,
	.forum-block .forum-link > a > strong {
		margin-left: 0px;
	}

	.forum-block .forum-description .defbutton.big {
		font-size: 10px;
		padding: 8px 15px;
	}

	.forum-post .post-meta-block {
		display: none;
	}

	.forum-post .post-text-block,
	.forum-post .user-block {
		display: block;
		width: 100%;
	}

	.forum-post .user-block {
		border-bottom: 1px solid #E4E4E4;
		padding-bottom: 34px;
	}

	.textarea-arrow,
	.reply-box .comment-avatar {
		display: none;
	}

	.reply-box .reply-textarea {
		margin-left: 0px;
	}

	.signup-panel .left,
	.signup-panel .right {
		display: block;
		float: none;
		width: 100%;
		margin-right: 0px;
		padding-right: 0px;
		border: 0px;
	}

	.conversation-container .inline-conversation .inline-table-fix {
		padding-left: 0px;
		padding-right: 0px;
	}

	.conv-user.left,
	.conv-user.right {
		display: none;
	}

	.conversation-container .conv-textarea {
		margin-top: 15px;
	}

}