
{% if page.layout == 'page' %}
<h2><span>Discussion</span></h2>
{% else %}
<h2><span>Comments</span></h2>
{% endif %}
<!-- BEGIN .content-padding -->
<div class="content-padding">
	<div class="comment-part">
		{% if site.deploy %}
		<div id="disqus_thread"></div>
		<script>
		var disqus_config = function () {
		this.page.url = "{{ page.url | prepend: site.url }}";
		this.page.identifier = "{{ site.title }}/{{ page.id }}";
		this.page.title = "{{ page.title }}";
		};
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//flinhong.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}
	</div>
<!-- END .content-padding -->
</div>
