
<h2><span>Recent Podcasts</span></h2>
<div class="content-padding">

  <div class="podcast-list">
    <a href="podcasts-single.html" class="item podcast-live">
      <span class="podcast-li-nr">#23</span>
      <span class="podcast-li-title"><span class="pod-live">LIVE STREAM</span>The Great Podcast (Some stuff we talk about) / 20.May 2015<strong>Some additional description about live podcast</strong></span>
      <span class="podcast-li-time">00:17:32</span>
    </a>
    <a href="podcasts-single.html" class="item">
      <span class="podcast-li-nr">#22</span>
      <span class="podcast-li-title">The Great Podcast (Some other stuff we talk about) / 13.May 2015</span>
      <span class="podcast-li-time">01:30:01</span>
    </a>
    <a href="podcasts-single.html" class="item">
      <span class="podcast-li-nr">#21</span>
      <span class="podcast-li-title">The Great Podcast (Some stuff we don't talk about) / 6.May 2015</span>
      <span class="podcast-li-time">01:30:01</span>
    </a>
    <a href="podcasts-single.html" class="item">
      <span class="podcast-li-nr">#20</span>
      <span class="podcast-li-title">The Great Podcast (Some stuff we talk about) / 29.April 2015</span>
      <span class="podcast-li-time">01:30:01</span>
    </a>
  </div>
  <div>
    <center><a href="podcasts.html" class="defbutton"><i class="fa fa-microphone"></i>View more podcasts</a></center>
  </div>

</div>
