<h2 id="edu"><span>Education</span></h2>
<!-- BEGIN .content-padding -->
<div class="content-padding">
	<div class="comment-part">
		<!-- BEGIN #comments -->
		<ol id="comments">
			<li>
				<p>Education is not the learning of facts, but the training of the mind of think. Education is a gift that none can take away. I am still learning every day.</p>
			</li>
			<li>
				<div class="comment-inner">
					<div class="comment-avatar">
						<img src="/assets/images/hku.jpg" alt="HKU">
					</div>
					<div class="comment-content">
						<div class="comment-header">
							<h3><a href="http://www.hku.hk/">The University of Hong Kong</a></h3>
						</div>
						<span class="post-a"><i class="fa fa-calendar-o"></i> Sep, 2014 - present</span>
						<p>Ph.D. candidate. Researh programme in Organic Electronics.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="comment-inner">
					<div class="comment-avatar">
						<img src="/assets/images/SHU.png" alt="SHU">
					</div>
					<div class="comment-content">
						<div class="comment-header">
							<h3><a href="http://www.shu.edu.cn/">Shanghai University</a></h3>
						</div>
						<span class="post-a"><i class="fa fa-calendar-o"></i> Sep, 2011 - Apr, 2014</span>
						<p>M.Phil. in Microelectronics & Solid State Electronics.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="comment-inner">
					<div class="comment-avatar">
						<img src="/assets/images/TJPU.png" alt="TJPU">
					</div>
					<div class="comment-content">
						<div class="comment-header">
							<h3><a href="http://www.tjpu.edu.cn/">Tianjin Polytechnic University</a></h3>
						</div>
						<span class="post-a"><i class="fa fa-calendar-o"></i> Sep, 2007 - Jun, 2014</span>
						<p>B.Eng. in Electronic Science & Technology;<br>Bachelor of Business Administration as a second degree.</p>
					</div>
				</div>
			</li>
		<!-- #comment-## -->
		</ol>
		<div class="comments-pager"></div>
	</div>
<!-- END .content-padding -->
</div>

<h2 id="exp"><span>Experience</span></h2>
<!-- BEGIN .content-padding -->
<div class="content-padding">
	<div class="comment-part">
		<!-- BEGIN #comments -->
		<ol id="comments">
			<li>
				<div class="comment-inner">
					<div class="comment-avatar">
						<img src="/assets/images/ti.png" alt="TI">
					</div>
					<div class="comment-content">
						<div class="comment-header">
							<h3><a href="http://www.ti.com/">Texas Instruments</a></h3>
						</div>
						<span class="post-a"><i class="fa fa-calendar-o"></i> Oct, 2013 - May, 2014</span>
						<p>Intern in Department of Education Technology.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="comment-inner">
					<div class="comment-avatar">
						<img src="/assets/images/sjtu.png" alt="SJTU">
					</div>
					<div class="comment-content">
						<div class="comment-header">
							<h3><a href="http://www.sjtu.edu.cn/">Shanghai Jiaotong University</a></h3>
						</div>
						<span class="post-a"><i class="fa fa-calendar-o"></i> Sep, 2014</span>
						<p>Intern in Experimental Centre, Antai College of Economics and Management.</p>
					</div>
				</div>
			</li>
		<!-- #comment-## -->
		</ol>
		<div class="comments-pager"></div>
	</div>
<!-- END .content-padding -->
</div>