
<div id="header-top">
  <div class="wrapper">
    <ul class="right">
      <li><a href="http://www.facebook.com/flinhong" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/flinhong" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/flinhong" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="http://weibo.com/linhong" target="_blank"><i class="fa fa-weibo"></i></a></li>
      <li><a href="https://www.linkedin.com/in/frankhl" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://www.flickr.com/photos/frankhlin/" target="_blank"><i class="fa fa-flickr"></i></a></li>
    </ul>
    <ul class="load-responsive" rel="Top menu">
      <li><a href="{{ site.url }}/search/">Search</a></li>
      <li><a href="{{ site.url }}/feed.xml">RSS Feed</a></li>
      <li><a href="{{ site.url }}/sitemap.xml">Sitemap</a></li>
      <li><a href="{{ site.myurl }}">flinhong.com</a></li>
      <!-- <li><a href="{{ site.url }}/archives/"><span>Links</span></a>
        <ul class="sub-menu">
          <li><a href="{{ site.url }}/about/">About</a></li>
          <li><a href="http://photo.flinhong.com/">My Photos</a></li>
        </ul>
      </li> -->
    </ul>
  </div>
</div>
