
<div class="content-padding">
<div class="info-message">
	<a href="{{ site.url }}" class="close-info"><i class="fa fa-times"></i></a>
	<p><strong>Information:</strong>Frank's Blog uses cookies to help give you the best possible user experience. By continuing to browse this site you give consent for cookies to be used. To find out more about cookies and how to manage them <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">click here</a>.</p>
</div>
  <a href="{{ site.messageurl }}" class="top-alert-message">
    <span><span class="pod-live">Broadcast message</span>{{ site.message }}</span>
  </a>
</div>
