
<!-- <nav id="menu" class="main-menu width-fluid"> -->
<nav id="menu" class="main-menu">
  <div class="blur-before"></div>
  {% if page.layout == "blog" %}
  <a href="{{ site.url }}" class="header-logo left"><img src="/assets/images/logo.png" class="logo" alt="Frank's Blog" title="Frank's Blog" /></a>
  {% elsif page.layout == "post" %}
  <a href="{{ site.url }}" class="header-logo left"><img src="/assets/images/logo.png" class="logo" alt="Frank's Blog" title="Frank's Blog" /></a>
  {% else %}
  <a href="{{ site.url }}" class="header-logo left"><img src="/assets/images/logo1.png" class="logo" alt="Frank Lin" title="Frank Lin" /></a>
  {% endif %}
  <a href="#dat-menu" class="datmenu-prompt"><i class="fa fa-bars"></i>Show Menu</a>
  <ul class="load-responsive" rel="Main menu">
    <li><a href="{{ site.url }}"><i class="fa fa-home" aria-hidden="true"></i></i><strong>Home</strong></a></li>
    <li><a href="{{ site.url }}/blog/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><strong>Blog</strong></a></li>
    <li><a href="{{ site.url }}/calendar/"><i class="fa fa-calendar-check-o" aria-hidden="true"></i><strong>Calendar</strong></a></li>
    <li><a href="http://lofter.flinhong.com/"><i class="fa fa-camera-retro"></i><strong>Photo</strong></a></li>
    <li><a href="{{ site.url }}/archives/"><span><i class="fa fa-puzzle-piece"></i><strong>Pages</strong></span></a>
      <ul class="sub-menu">
        <li><a href="{{ site.url }}/archives/">Archives</a></li>
        <li><a href="{{ site.url }}/shortcodes/">Shortcodes</a></li>
        <li><a href="{{ site.url }}/sitedoc/">Documentation</a></li>
      </ul>
    </li>
    <li><a href="{{ site.url }}/about/"><i class="fa fa-info-circle"></i><strong>About</strong></a></li>
    <li><a href="{{ site.url }}/contact/"><i class="fa fa-map-marker"></i><strong>Contact</strong></a></li>
    <li><a href="{{ site.url }}/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i><strong>RSS</strong></a></li>
    <!-- <li class="no-icon"><a href="#"><strong>Without icon</strong></a></li> -->
  </ul>
</nav>
