
<h2><span>Pages Navigation</span></h2>
<div class="content-padding">

  <div class="photo-block">
    <div class="big-block">
      <span class="article-image-out">
      <span class="image-comments"><span>Blog Index</span></span>
        <span class="article-image single-icon">
          <span class="nth1 strike-tooltip" title="View Blog">
            <a href="{{ site.url }}/blog/"><i class="fa fa-eye"></i></a>
          </span>
          <a href="{{ site.url }}/blog/"><img src="/assets/images/blog.png" alt="blog" title="" /></a>
        </span>
      </span>
    </div>

    <div class="small-block">
      <span class="article-image-out">
      <span class="image-comments"><span>Feeds</span></span>
        <span class="article-image small-icons">
          <span class="nth1">
            <a href="{{ site.url }}/feed.xml"><i class="fa fa-eye"></i></a>
          </span>
          <a href="{{ site.url }}/feed.xml"><img src="/assets/images/feeds.png" alt="feeds" title="" /></a>
        </span>
      </span>
    </div>
    <div class="small-block">
      <span class="article-image-out">
        <span class="image-comments"><span>Archives</span></span>
        <span class="article-image small-icons">
          <span class="nth1">
            <a href="{{ site.url }}/archives/"><i class="fa fa-eye"></i></a>
          </span>
          <a href="{{ site.url }}/archives/"><img src="/assets/images/archives.png" alt="archives" title="" /></a>
        </span>
      </span>
    </div>
    <div class="small-block">
      <span class="article-image-out">
        <span class="image-comments"><span>About Me</span></span>
        <span class="article-image small-icons">
          <span class="nth1">
            <a href="{{ site.url }}/about/"><i class="fa fa-eye"></i></a>
          </span>
          <a href="{{ site.url }}/about/"><img src="/assets/images/about_me.png" alt="about me" title="" /></a>
        </span>
      </span>
    </div>
    <div class="small-block">
      <span class="article-image-out">
        <span class="image-comments"><span>Calendar</span></span>
        <span class="article-image small-icons">
          <span class="nth1">
            <a href="{{ site.url }}/calendar/"><i class="fa fa-eye"></i></a>
          </span>
          <a href="{{ site.url }}/calendar/"><img src="/assets/images/calendar.png" alt="calendar" title="" /></a>
        </span>
      </span>
    </div>

    <div class="small-block">
      <span class="article-image-out">
        <span class="image-comments"><span>Search</span></span>
        <span class="article-image small-icons">
          <span class="nth1">
            <a href="{{ site.url }}/search/"><i class="fa fa-eye"></i></a>
          </span>
          <a href="{{ site.url }}/search/"><img src="/assets/images/search.png" alt="search" title="" /></a>
        </span>
      </span>
    </div>
    <div class="small-block">
      <span class="article-image-out">
        <span class="image-comments"><span>Contact</span></span>
        <span class="article-image small-icons">
          <span class="nth1">
            <a href="{{ site.url }}/contact/"><i class="fa fa-eye"></i></a>
          </span>
          <a href="{{ site.url }}/contact/"><img src="/assets/images/contact.png" alt="contact" title="" /></a>
        </span>
      </span>
    </div>
    <div class="small-block">
      <span class="article-image-out">
        <span class="image-comments"><span>My Photos</span></span>
        <span class="article-image small-icons">
          <span class="nth1">
            <a href="http://lofter.flinhong.com"><i class="fa fa-eye"></i></a>
          </span>
          <a href="http://lofter.flinhong.com"><img src="/assets/images/photos.png" alt="photos" title="" /></a>
        </span>
      </span>
    </div>
    <div class="small-block">
      <span class="article-image-out">
        <span class="image-comments"><span>flinhong.com</span></span>
        <span class="article-image small-icons">
          <span class="nth1">
            <a href="{{ site.url }}"><i class="fa fa-eye"></i></a>
          </span>
          <a href="{{ site.url }}"><img src="/assets/images/logotile.png" alt="flinhong.com" title="" /></a>
        </span>
      </span>
    </div>

    <div class="clear-float"></div>
  </div>
</div>
