
<!-- BEGIN .profile-left-side -->
<div class="profile-left-side">
  <div class="the-profile-top">
    <div class="profile-user-name">
      <h1>{{ site.author }} (林宏)</h1>
      <div class="sttaa"><span>Now:</span>Reading "<a href="{{ site.readingurl }}">{{ site.reading }}</a>"</div>
    </div>

    <div class="avatar online">
      <img src="/assets/images/avatar.jpg" class="setborder" alt="" />
    </div>

    <div>
      <ul class="user-button-list">
        <li><span class="info-msg">"Adapt and overcome" is my new motto.</span></li>
      </ul>

      <div class="user-panel-about">
        <div>
          <b><i class="fa fa-pencil-square-o"></i>About me</b>
          <p>Hi. My name is Frank Lin and I am in my second year of Ph.D. I love to share my thoughts to you as I'm carring on this blog.</p>
        </div>
      </div>

      <ul class="user-button-list">
<!--         <li><a href="{{ site.url }}/contact/#disqus_thread" class="defbutton profile-button"><i class="fa fa-comment"></i>Drop me a Line</a></li> -->
        <li><a href="javascript:;" class="defbutton profile-button" id="click-button"><i class="fa fa-coffee"></i>Buy me a coffee</a></li>
        <li><p id="qrcode"><img src="/assets/images/qrwechat.png" alt="QR Code"><br />Scan the QR code to pay me with <a href="https://pay.weixin.qq.com/wechatpay">WeChat Pay</a>. Thanks for your support!<p></li>
      </ul>
    </div>
  </div>

  <div class="the-profile-navi">
    <ul class="profile-navi">
      <li><a href="#top"><span class="left-avatar"><img src="/assets/images/avatar.jpg" alt="" /></span>Viewing <b>Frank's</b> profile<br />Back to top<span class="clear-float"></span></a></li>
      <li><a href="{{ site.url }}/about/#profile information"><i class="fa fa-globe"></i>Profile information</a></li>
      <li><a href="{{ site.url }}/about/#edu"><i class="fa fa-graduation-cap"></i>Education</a></li>
      <li><a href="{{ site.url }}/about/#exp"><i class="fa fa-briefcase" aria-hidden="true"></i>Experience</a></li>
      <li><a href="{{ site.url }}/reading/"><i class="fa fa-book" aria-hidden="true"></i>Reading List</a></li>
      <li><a href="{{ site.myurl }}/contact/#comments"><i class="fa fa-comment"></i>Leave a Message</a></li>
      <li><a href="{{ site.url }}/socials/"><i class="fa fa-share-square-o"></i>Socials</a></li>
    </ul>
  </div>
<!-- END .profile-left-side -->
</div>
