
<!-- BEGIN .user-profile -->
<div class="user-profile">
  <div class="profile-shadow"></div>
  {% include profile-left.html %}
  <!-- BEGIN .profile-right-side -->
  <div class="profile-right-side">

    {% if page.permalink == "/about/" %}
    <!-- BEGIN .content-padding -->
    <div class="content-padding">
      <div>
        <div style="width:350px;" class="left">
          <h2 style="margin-left:-30px;" id="profile information"><span>Profile Information</span></h2>

          <ul class="profile-info">
            <li>
              <span class="first">Name:</span>
              <span class="last">Frank Lin (林宏)</span>
            </li>
            <li>
              <span class="first">Gender:</span>
              <span class="last">Male</span>
            </li>
            <li>
              <span class="first">Birthday:</span>
              <span class="last">July 9, 1989</span>
            </li>
            <li>
              <span class="first">Address:</span>
              <span class="last">Hong Kong, China</span>
            </li>
            <li>
              <span class="first">Email:</span>
              <span class="last">franklin@flinhong.com</span>
            </li>
          </ul>

          <div class="clear-float"></div>
        </div>

        <div style="width:300px;" class="right">

          <h2 style="margin-left: -30px;"><span>Flickr Photos</span></h2>
          <ul class="profile-friends-list">
            <div id="flickrpics"></div>
          </ul>

          <div class="clear-float"></div>

        </div>

        <div class="clear-float"></div>
      </div>

    <!-- END .content-padding -->
    </div>

    {% include exp.html %}

    {% else %}
    <h2><span>{{ page.title }}</span></h2>
    <!-- BEGIN .content-padding -->
    <div class="content-padding">
    {{ content }}
    <!-- END .content-padding -->
    </div>
    {% endif %}

  <!-- END .profile-right-side -->
  </div>
  <div class="clear-float"></div>
<!-- END .user-profile -->
</div>
