
<!-- BEGIN #sidebar -->
<aside id="sidebar">

	<!-- BEGIN .panel -->
	<div class="panel">
		<h2>Social Connects</h2>
		<div class="panel-content socialize">

			<a href="http://www.facebook.com/flinhong" target="_blank" class="strike-tooltip s-fb" title="Visit Facebook"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/flinhong" target="_blank" class="strike-tooltip s-tw" title="Visit Twitter"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/flinhong" target="_blank" class="strike-tooltip s-gh" title="Visit GitHub"><i class="fa fa-github"></i></a>
			<a href="http://weibo.com/linhong" target="_blank" class="strike-tooltip s-wb" title="Visit Weibo"><i class="fa fa-weibo"></i></a>
			<a href="https://www.linkedin.com/in/frankhl" target="_blank" class="strike-tooltip s-lk" title="Visit Linkedin"><i class="fa fa-linkedin"></i></a>

		</div>
	<!-- END .panel -->
	</div>

	{% if page.title != 'Search' %}
	<div class="panel">
		<div class="panel-content">
			<form action="/search/" target="_blank" method="get">
				<input type="text" placeholder="Type and press enter..." name="q">
			</form>
		</div>
	</div>
	{% endif %}

	<!-- BEGIN .panel -->
	<div class="panel">
		<h2>Accept Donations</h2>
		<div class="panel-content">

			<div class="donation-widget">
				<p>Your donation will encourage me to make my blog even better! If you don't want to donate or you don't have any money, don't worry, just enjoy it! 😙</p>
				<div class="donation-stats">
					<a href="javascript:;" class="button" id="click-button">Make a donation</a><br />
					<p id="qrcode"><img src="/assets/images/qrwechat.png"><br />Scan the QR code to pay me with <a href="https://pay.weixin.qq.com/wechatpay">WeChat Pay</a>.<p>
				</div>
			</div>

		</div>
	<!-- END .panel -->
	</div>

	{% include recent-comments.html %}

	<!-- BEGIN .panel -->
	<div class="panel">
		<h2>Tag Cloud</h2>
		<div class="panel-content">
			<div class="tagcloud">
				{% for tag in site.tags %}<a href="{{ site.url }}/tags/#{{ tag | first }}">{{ tag | first }}</a>{% endfor %}
			</div>
		</div>
	<!-- END .panel -->
	</div>

<!-- END #sidebar -->
</aside>
