<!DOCTYPE HTML>
<html lang = "en">
{% include head.html %}
<body class="no-slider">
<!-- <body class="has-top-menu"> -->
  <!-- BEGIN #slider-imgs -->
  <div id="slider-imgs">
    <div class="featured-img-box">
      <div id="featured-img-1" class="featured-img"></div>
      <div id="featured-img-2" class="featured-img invisible"></div>
      <div id="featured-img-3" class="featured-img invisible"></div>
      <div id="featured-img-4" class="featured-img invisible"></div>
    </div>
  <!-- END #slider-imgs -->
  </div>
  <!-- BEGIN #top-layer -->
  <div id="top-layer">
  {% include head-top.html %}
  <section id="content">
    {% include header-page.html %}
    <div id="main-box">
      <!-- BEGIN #main -->
      <div id="main">
      <h2><span>{{ page.title }}</span></h2>
      <div class="content-padding">
        <div class="article-full">
          <div class="article-content">
            {{ content }}
          </div>
        </div>
      </div>
      <!-- END #main -->
      </div>
      {% include sidebar.html %}
      <div class="clear-float"></div>
    </div>
  </section>
  </div>
  <div class="clear-float"></div>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
