<!DOCTYPE HTML>
<html lang = "en">
{% include head.html %}
<body class="no-slider">
<!-- <body class="has-top-menu"> -->
  <!-- BEGIN #slider-imgs -->
  <div id="slider-imgs">
    <div class="featured-img-box">
      <div id="featured-img-1" class="featured-img"></div>
      <div id="featured-img-2" class="featured-img invisible"></div>
      <div id="featured-img-3" class="featured-img invisible"></div>
      <div id="featured-img-4" class="featured-img invisible"></div>
    </div>
  <!-- END #slider-imgs -->
  </div>
  <!-- BEGIN #top-layer -->
  <div id="top-layer">
  {% include head-top.html %}
  <section id="content">
    {% include header.html %}
    <div id="main-box">
      <!-- BEGIN #main -->
      <div id="main">
        <h1><span>{{ page.title }}</span></h1>
        <div class="content-padding">
          <div class="article-full">
            {% if page.image %}
            <div class="article-main-photo">
              <img src="{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}" />
            </div>
            {% elsif page.video %}
            <div class="article-main-photo">
              {{ page.video }}
            </div>
            {% elsif page.audio %}
            <div class="article-main-photo">
              {{ page.audio }}
            </div>
            {% endif %}
            <div class="article-icons">
              <a href="user-single.html" class="user-tooltip"><i class="fa fa-user"></i>{{ site.author }}</a>
              <a href="javascript:;"><i class="fa fa-calendar"></i>{{ page.date | date: '%B %d, %Y' }}</a>
              <a href="{{ site.url }}/categories/{{ page.category | downcase }}/"><i class="fa fa-tag"></i>{{ page.category }}</a>
              <a href="{{ page.url | prepend: site.url }}#disqus_thread" data-disqus-identifier="{{ site.url }}/{{ page.id }}"><i class="fa fa-comments"></i>0 Comment</a>
              <a href="javascript:;"><i class="fa fa-check-square-o"></i>{% capture count_words %}{{ content | strip_html | strip_newlines | size }}{% endcapture %}{{ count_words }} words.</a>
            </div>
            <div class="clear-float do-the-split"></div>
            <div class="article-content mylist" onmousedown='return false;' onselectstart='return false;'>
              {{ content }}
              <p>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 160824 -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-7353085750925432"
                    data-ad-slot="1222227706"
                    data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </p>
              <div class="article-icons">
                <span><i class="fa fa-tags"></i></span>{% for tag in page.tags %}
                <a href="{{ site.url }}/tags/#{{ tag }}" class="tags">{{ tag }}</a>
                {% endfor %}
                <span><i class="fa fa-eye"></i></span><a href="javascripts:;" id="busuanzi_value_page_pv">1</a>
              </div>
              <div class="breaking-line"></div>
            </div>
          </div>
          {% include article-footer.html %}
        <!-- END .content-padding -->
        </div>
        {% include comments.html %}
      <!-- END #main -->
      </div>
      {% include post-sidebar.html %}
      <div class="clear-float"></div>
    </div>
  </section>
  </div>
  <div class="clear-float"></div>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
